<%= stylesheet_link_tag    'admins', media: 'all', 'data-turbolinks-track' => true %>

<h4>Admin Page</h4>
<%= button_to "New Admin", "/admins/new", class: "button"%>
<%= button_to "New Employee", "/admins/new", class: "button"%>
<%= button_to "Update Menu", "/admins/menu", class: "button"%>
