.select{
  color: blue;
}

/*body {
  color: black;
}

.container {
  margin: 0 auto;
  text-align: center;
  color: black;
}


h4 {
  color: #fff;
  margin-top: 50px;
}

table {
  margin: 0 auto;
}

.unpaid {
  background-color: crimson;
}

.paid {
  background-color: springgreen;
}

.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
  margin-top: 30px;
}

th {
  text-align: center;
}
td {
  text-align: center;
}

.timestamp-start {
  background-color: springgreen;
}
.timestamp-middle {
  background-color: yellow;
}
.timestamp-end {
  background-color: crimson;
}

.order {
  width: 100%;
  background-color: lightslategrey;
  margin:0 auto 20px;
  padding: 10px 0;
  font-size: 1.25em;
  text-align: center;
}

.red {
  background-color:red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}
.black {
  color: darkslategrey;
}

a .edit {
  background-color: lightblue;
}

.button, button, input[type="submit"], input[type="reset"], input[type="button"] , .edit_button {
  margin: 15px auto 0;
}

.new-order {
  color: black;
}

select {
  color: black;
}*/
