.container {
  margin: 0 auto;
  text-align: center;
  color: white;
}

h4 {
  color: #fff;
  margin-top: 50px;
}

table {
  margin: 0 auto 50px;
}
th {
  text-align: center;
}
td {
  text-align: center;
}
.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
  margin-top: 30px;
}
.cashout {
  text-decoration: none;
  color: steelblue;
}
.cashout:hover {
  color:#FFF;
}
