<%= stylesheet_link_tag    'welcome', media: 'all', 'data-turbolinks-track' => true %>
<br>
<div class="row">
<div class="push_two two columns">
<div class="medium primary btn pretty">
<a href="/admins">Admin Login</a>
</div>
</div>
<div class="two columns">
<div class="medium primary btn pretty">
<a href="/parties/new">New Party</a>
</div>
</div>
<div class="two columns">
<div class="medium primary btn pretty">
<a href="/orders/new">New Order</a>
</div>
</div>
<div class="pull_two columns">
<div class="medium primary btn pretty">
<a href="/orders">Orders</a>
</div>
</div>
</div>
