<%= stylesheet_link_tag    'items', media: 'all', 'data-turbolinks-track' => true %>
<h4>Menu</h4>
<% @items.each do |item| %>
    <div class="container order">
      <div class="row">
      <div class="push_three three columns"></div>
      <div class="six columns menu"><strong><%= item.name %></strong></div>
      <div class="pull_three three columns"></div>
      </div>
      <div class="row">
      <div class="push_three three columns"></div>
      <div class="six columns menu"><%= item.description %></div>
      <div class="pull_three three columns"></div>
      </div>
      <div class="row">
      <div class="three columns"></div>
      <div class="six columns menu"><%= item.price %></div>
      <div class="three columns"></div>
      </div>
  <% end %>
