.container {
  margin: 0 auto;
  background-color: tomato;
  text-align: center;
}

h4 {
  color: #fff;
  margin-top: 50px;
}

table {
  margin: 0 auto;
}


.paid {
  background-color: springgreen;
}

.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
  margin-top: 30px;
}
td {
  text-align: center;
}

.timestamp-start {
  background-color: springgreen;
}
.timestamp-middle {
  background-color: yellow;
}
.timestamp-end {
  background-color: crimson;
}
