
body {
  background-color: #333333;
}
.row .four.columns {
  text-align: center;
}
.row .four.columns.color {
  background-color: #fae596;
  margin-top: 20px;
}
.row .twelve.columns {
  text-align: center;
}
h4 {
  text-align: center;
  margin: 30px auto 0;
}
.white {
  color: white;
}
.blue {
  color: #3fb0ac;
}
.yellow {
  color: goldenrod;
}
.green {
  color: limegreen;
}
.red {
  color: firebrick;
}
